body {
    background-color: #24272C;
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: Arial;
    font-weight: bold;
}

footer {
    text-align: center;
    color: transparent;
}

a:link {
    color: white;
    text-shadow: 0 0 3px #EEEEEE;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
    text-shadow: 0 0 3px white;
}

a:active {
    color: yellow;
}

.button {
    background-color: #FFFFFF;
    color: #000000;
}

.button:hover {
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}
